body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {

    text-align: center;
    font-size: 50px;
    margin-top: 350px;
    color: white;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;

}

h3 {
    margin-left: 20%;
    margin-right: 20%;
    color: white;


}

h4 {
    text-align: center;
    font-size: 20px;
}

#donate {
    text-align: center;
    text-align: justify;
    width: 100%;
    padding: 10px;

}

#donate-image {
    background-image: url(donate-today-main/images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

#button {
    text-align: center;
    text-decoration: none;


}

#button-color {
    background-color: #FA8072;
    padding: 15px 32px;
    color: white;
}

.money {

    padding: 5%;
    display: flex;
    height: 100px;
    text-align: center;
    margin-left: 30%;
    margin-right: 20%;
    font-size: 24%;

}

.item {
    width: 100px;
    height: 100px;
    margin: 0px 20px;
    font-weight: 700;



}

.item-color {
    color: #d03d11;


}

.b-back {
    background-color: #FFE6E8;
    border: 2px solid red;
}

.others {
    text-align: center;
    margin-bottom: 20%;
    padding-bottom: 2%;
    border-bottom: 1px solid gray;
}